.row
	{
		padding-left: 30px;
	}

fieldset
	{
		margin-top: 25px;
	}


.jumbotron
	{
		text-align: center;
		background-color: #c3eda5;
	}


#date
{
	text-align: center;
}

/* pour faire apparaître les valeurs min et max des inputs de type range */
input[type="range"]
	{
	    position: relative;
	    margin-left: 1em;
	}
input[type="range"]:after,
input[type="range"]:before
	{
	    position: absolute;
	    top: 1em;
	    color: #aaa;
	}
input[type="range"]:before
	{
	    left:0em;
	    content: attr(min);
	}
input[type="range"]:after
	{
	    right: 0em;
	    content: attr(max);
	}

/* bouton personnalisé */
.btn-custom {
  background-color: hsl(86, 79%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daf6b5", endColorstr="#7cc817");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#daf6b5), to(#7cc817));
  background-image: -moz-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -ms-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #daf6b5), color-stop(100%, #7cc817));
  background-image: -webkit-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -o-linear-gradient(top, #daf6b5, #7cc817);
  background-image: linear-gradient(#daf6b5, #7cc817);
  border-color: #7cc817 #7cc817 hsl(86, 79%, 34%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.66);
  -webkit-font-smoothing: antialiased;
  border-radius: 5px;
}

footer
	{
		margin-bottom: 30px;
	}